<!--<div class="center">
  <form #customerForm="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="reviewFor">Review For</label>
      <select class="form-control" id="serviceProviderId" name="serviceProviderId" required [(ngModel)]="model.serviceProviderId">

        <option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider">{{serviceProvider}}</option>

      </select>
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Submit</button>
    </div>
  </form>
</div>-->