<aside className="sidenav">
  <ul className="sidenav__list">
      <li className="sidenav__list-item">
        <a routerLinkActive="active" [routerLink]="['/login']">Login</a>
      </li>
      <li className="sidenav__list-item">
        <a routerLinkActive="active" [routerLink]="['/login']">Login</a>
      </li>
      <li className="sidenav__list-item">
        <a routerLinkActive="active" [routerLink]="['/login']">Login</a>
      </li>
      <li className="sidenav__list-item">
        <a routerLinkActive="active" [routerLink]="['/login']">Login</a>
      </li>
  </ul>
</aside>