<div class="jumbotron">
    <div class="container text-center">
      <form class="form-inline">
        <input type="email" class="form-control" size="50" placeholder="Search for services...">
        <button type="button" class="btn btn-danger">Search</button>
      </form>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="panel panel-primary">
        <div class="panel-heading">Electrical Work</div>
        <div class="panel-body"><img src="assets/app/electrician.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Certified Electricians at your Doorstep</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-danger">
        <div class="panel-heading">Car Service</div>
        <div class="panel-body"><img src="assets/app/car-repair.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Professional mechanics</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-primary">
        <div class="panel-heading">Electrical Work</div>
        <div class="panel-body"><img src="assets/app/electrician.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Certified Electricians at your Doorstep</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-danger">
        <div class="panel-heading">Car Service</div>
        <div class="panel-body"><img src="assets/app/car-repair.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Professional mechanics</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel panel-success">
        <div class="panel-heading">Cleaning</div>
        <div class="panel-body"><img src="assets/app/cleaning.png" class="img-responsive" style="width:100%"
            alt="Image"></div>
        <div class="panel-footer">Home, Bathroom, kitchen and more...</div>
      </div>
    </div>
  </div>
</div><br>